.orange-circle {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: var(--orange-gradient);
    position: absolute;
    top: -10px;
    right: 28%;
    z-index: -1;
}

.hero-wrapper {
    color: #fff;
    position: relative;
    padding-bottom: 2rem;
    background: var(--black);
}

.hero-container {
    justify-content: space-between;
    align-items: flex-end;
}

.hero__image {
    width: 30rem;
    height: 35rem;
    overflow: hidden;
    border-radius: 15rem 15rem 0 0;
    border: 6px solid rgba(255, 255, 255, 0.1);
}

.hero__image img {
    width: 100%;
    height: 100%;
}

.hero__first {
    gap: 3rem;
}

// title
.hero__title {
    position: relative;
    z-index: 1;
    h1 {
        font-weight: 600;
        font-size: 4rem;
        line-height: 4.2rem;
    }
}

// search
.hero__search-button {
    font-weight: 500;
    padding: 0.5rem 1.5rem;
    color: #fff;
    border: none;
    border-radius: 5px;
    background: var(--blue-gradient);
    transition: all 0.3s ease-in-out;
}

.hero__search {
    background-color: #fff;
    display: flex;
    align-items: center;
    border-radius: 5px;
    justify-content: space-between;
    border: 3px solid rgba(120, 120, 120, 0.374);
    padding: 8px 16px;
    width: 100%;
}

.hero__search-input {
    border: none;
    outline: none;
}

// stats
.hero__stats {
    width: 100%;
    justify-content: space-between;
}

.plus {
    color: orange;
}

.hero__stat-number {
    font-size: 2rem;
}