.value__image {
    width: 30rem;
    height: 35rem;
    overflow: hidden;
    border-radius: 15rem 15rem 0 0;
    border: 8px solid rgb(232 232 232 /93%);
}

.value>div {
    flex: 1;
}

.value__second {
    gap: 0.5rem;
}

.accordion {
    margin-top: 2rem;
    border: none !important;
}

.accordion__item {
    background-color: #fff;
    border: 0.8px solid rgba(128, 128, 128, 0.143);
    border-radius: 8px;
    overflow: hidden;
    margin-bottom: 20px;
}

.accordion__item.expanded {
    box-shadow: var(--shadow);
    border-radius: 5px;
}

.accordion__item-icon {
    background-color: #eef;
    padding: 10px;
    border-radius: 5px;
    svg {
        fill: var(--blue);
    }
}

.accordion__item-button {
    background-color: #fff;
    padding: 20px;
    width: 100%;
    justify-content: space-between;
    cursor: pointer;
}

.accordion__item-heading {
    font-size: 1.1rem;
}